<h1>Add a Stylist</h1>

<form action="/" method="post">
  <label for="stylist-name">New Stylist</label>
  <input type="text" name="stylist-name" class="form-control">
  <label for="stylist-specialty">Stylist specialty (i.e. male/female cuts, colorist, etc..)</label>
  <input type="text" name="stylist-specialty" class="form-control">
  <button type="submit" class="btn" name="button">Add Stylist</button>
</form>

<a href="/">Homepage</a>
