@{
  Layout = "_Layout";
}

<h1>Client list for @Model["stylist"].GetName()</h1>
<body>
  @if (Model["client"].Count == 0)
  {
    <h3>No clients have been added yet!</h3>
  }

  <table>
  <table class="table">
    <thead class="thead-default">
    <tr>
      <th>Id</th>
      <th>Client</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var client in Model["client"])
      {
        <tr>
        <td>@client.GetId()</td>
        <td>@client.GetName()</td>
        <td><a href="/client()/@client.GetId()/edit">Edit</a></td>
        <td><a href="/client()/@client.GetId()/client/delete">Delete</a></td>
        </tr>
      }
    </tbody>
  </table>

<br>
  <a href="/stylist/@Model["stylist"].GetId()/client/add" class="btn btn-primary" role="button">Add Client</a>
  <a href="/" class="btn btn-info" role="button">Homepage</a>
</body>
